<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <style>
    body {
      background-color: #eaebef;
      font-family: 'Poppins', sans-serif;
      /*background-image: url("https://images.unsplash.com/photo-1562119463-f5ac38fc8c47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
      background-repeat: no-repeat;
      background-size: cover;*/
    }

    .title {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .container {
      max-width: 580px;
      max-height: 920px;
      margin-left: auto;
      margin-right: auto;
    }

    .field {
      width: 95%;
      opacity: .6;
    }

    .button {
      background-color: #f5ccff;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

    #basic-info-container {
      /*background-color: #ddc4ff;*/
      background-image: url("https://images.unsplash.com/photo-1562946418-c2e2ffdfe13e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
      background-size: cover;
      padding: 20px;
    }

    #health-info-container {
      /*background-color: #c4fffe;*/
      background-image: url("https://images.unsplash.com/photo-1551730458-be400bef0161?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
      background-size: cover;
      padding: 20px;
    }

    #feeding-info-container {
      /*background-color: #ffb5fa;*/
      background-image: url("https://images.unsplash.com/photo-1511873289150-1e09e771e570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
      background-size: cover;
      padding: 20px;
    }

  </style>
</head>

<div class="title">
  <h1>Create a profile for your best friend!</h1>
  <h2>Enter all of their information below:</h2>
</div>

<div class="container">
  <form action="/pets" method="POST">
      <div id="basic-info-container">
        <h3>Basic Information</h3>
        <label class="label" for="name">Name:</label>
        <br/>
        <input class="field" type="text" id="name" name="name">
        <br/>
        <br/>
        <label class="label" for="species">Species:</label>
        <br/>
        <input class="field" type="text" id="species" name="species">
        <br/>
        <br/>
        <label class="label" for="breed">Breed:</label>
        <br/>
        <input class="field" type="text" id="breed" name="breed">
        <br/>
        <br/>
        <label class="label" for="microchip_number">Microchip Number:</label>
        <br/>
        <input class="field" type="text" id="microchip_number" name="microchip_number">
        <br/>
        <br/>
        <label class="label" for="microchip_registry">Microchip Registry:</label>
        <br/>
        <input class="field" type="text" id="microchip_registry" name="microchip_registry">
        <br/>
        <br/>
      </div>
      <br/>
      <div id="health-info-container">
        <h3>Health Information</h3>
        <label class="label" for="vet_name">Vet Name:</label>
        <br/>
        <input class="field" type="text" id="vet_name" name="vet_name">
        <br/>
        <br/>
        <label class="label" for="vet_phone">Vet Phone:</label>
        <br/>
        <input class="field" type="text" id="vet_phone" name="vet_phone">
        <br/>
        <br/>
        <label class="label" for="vaccinations">Vaccinations:</label>
        <br/>
        <input class="field" type="text" id="vaccinations" name="vaccinations">
        <br/>
        <br/>
        <label class="label" for="flea_treatment_type">Flea treatment type:</label>
        <br/>
        <input class="field" type="text" id="flea_treatment_type" name="flea_treatment_type">
        <br/>
        <br/>
        <label class="label" for="heartworm_treatment_type">Heartworm treatment type:</label>
        <br/>
        <input class="field" type="text" id="heartworm_treatment_type" name="heartworm_treatment_type">
        <br/>
        <br/>
        <label class="label" for="allergies">Allergies:</label>
        <br/>
        <input class="field" type="text" id="allergies" name="allergies">
        <br/>
        <br/>
      </div>
      <br/>
      <div id="feeding-info-container">
        <h3>Feeding Information</h3>
        <label class="label" for="food_brand">Food brand:</label>
        <br/>
        <input class="field" type="text" id="food_brand" name="food_brand">
        <br/>
        <br/>
        <label class="label" for="food_serving">Food serving:</label>
        <br/>
        <input class="field" type="text" id="food_serving" name="food_serving">
        <br/>
        <br/>
        <label class="label" for="feedings_per_day">Feedings per day:</label>
        <br/>
        <input class="field" type="text" id="feedings_per_day" name="feedings_per_day">
        <br/>
        <br/>
        <label class="label" for="comments">Comments:</label>
        <br/>
        <input class="field" type="text" id="comments" name="comments">
        <br/>
        <br/>
      </div>
      <p><input class="button" type="submit"></p>
  </form>
  <a class="button" href="/">Back to your main page</a> 
  <br/>
  <br/>
</div>




