<h1>This page will show you a selected pet profile</h1>

<p>Name:<%=@pet.name%></p>
<p>Species:<%=@pet.species%></p>



<p><a href="/pets">See all of your pets!</a></p>
<p><a href="/pets/new">Create a New Pet!</a></p>
<p><a href="/">Back to main page</a></p>
