<style>
  body {
    background-image: url("https://images.unsplash.com/photo-1567505647004-3718cc3d5ca1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>

<h1> Create an account to start keeping track of information about your pets!</h1>

<form action="/users" method="POST">

  <p>
    <label for="username" id="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </p>
  <p>
    <label for="email" id="email">Email:</label>
    <input type="email" id="email" name="email" required>
  </p>
  <p>
    <label for="password" id="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </p>
  <p>
    <input type="submit">
  </p>

</form>
