<h1>Log in to view your pet diary!</h1>

<form action="/login" method = "POST">

  <label for="username" id="username">Username:</label>
  <input type="text" id="username" name="username">

  <label for="password">Password:</label>
  <input type="password" id="password" name="password">

  <input type="submit">

</form>

	<p>Or <a href="/signup">Sign Up</a> if you don't have an account.</p>
  <p><a href="/">Back to the main page.</a></p>
