<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <style>
    body {
      background-color: #eaebef;
      background-image: url("https://images.unsplash.com/photo-1523626797181-8c5ae80d40c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
      background-size: cover;
      background-repeat: no-repeat;
    }

    .container {
      width: 500px;
      margin-top: 17vh;
      margin-left: 10vw;
    }

    .form-container {
      font-family: 'Poppins', sans-serif;
      font-size: 4vh;
      padding-right: 50px;
    }

    .button {
      background-color: #f5ccff;
      border: none;
      color: black;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }

  </style>
</head>



<h1 id="title">Log in to view your pet diary!</h1>

<div id="container">
  <form id="login-form" action="/login" method = "POST">
    <div id="form-container">
      <label for="username" id="username">Username:</label>
      <input type="text" id="username" name="username">
      <br/>
      <br/>
      <label for="password" id="password">Password:</label>
      <input type="password" id="password" name="password">
      <br/>
      <br/>
      <input class="button" type="submit">
    </div>
  </form>
</div>
	<p>Or <a href="/users/create">Sign Up</a> if you don't have an account.</p>
  <p><a href="/">Back to the main page.</a></p>
